# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Publish Package

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
      - name: Install Node.js dependencies
        run: npm ci
      - name: Compile TypeScript files
        run: npm run build
      - name: Run tests
        run: npm test
      - name: Run linting
        run: npm run lint
      - name: Publish to JSR
        run: npx jsr publish
      - name: Publish to NPM
        run: npm publish --provenance --access public
